<div class="all">
    
    <div class="parent">
        <p>encapsulation</p>
        <h3> Parent component </h3>
        <div></div>
        <input [(ngModel)] ="dataInparent" type ="text" class="form-control">

        <div class="txt">
            parent recive from child {{childTextBoxValueInparent}}
        </div>
    </div>

    <div class="child">
        <h3> Child component</h3>
        
    <app-child 
    [dataInChild]="dataInparent"
    (passToparent)="updateinChildValu($event)"
    >
    <p class="p1">Content Projection1 </p>
    <p id ="p2">Content Projection2  </p>

    </app-child>
</div>
</div>